version: "3.8"
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      # For Linux host connectivity we use PLAINTEXT listener and advertise localhost for container host
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD", "bash", "-c", "cub kafka-ready -b localhost:9092 1 20 || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 10

  app:
    build: .
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      # point the app to the kafka service inside the compose network
      KAFKA_BROKER: "kafka:9092"
      KAFKA_TOPIC: "csv_topic"
      # logging behavior
      APP_LOG_FILE: "/data/logs/processor.log"
      APP_LOG_MAX_BYTES: 5242880
      APP_LOG_BACKUP_COUNT: 5
      APP_LOG_LEVEL: "INFO"
      # config path inside container
      APP_CONFIG_PATH: /app/config.ini
    volumes:
      # to be done later.
    command: ["python", "/app/process_files.py"]
    restart: "no"
